<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/generales.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.cssc">
    <style data-styled="active" data-styled-version="5.3.11"></style>
    <title>estadisticas</title>
</head>

<body>
    <div class="dv-estadisticas">

        <h3>Estadística Global</h3>
        <div class="cont-estad">
            
          
        </div>
    </div>
    </div>
            </div>
        </div>
        <div class="dv-content"><br>
            <div class="dv-grid" style="color: rgb(10, 10, 10);">
                <div class="dv-grido" style="border-bottom: 2px solid rgb(0, 0, 0);">
                    <h4 class="title">Escrutado</h4>
                </div>
                <ul>
                    <li>
                        <div>
                            <p>Mesas: <span>86,33%</span></p>
                            <p>
                                <span>101</span> de
                                <span>117</span>
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <p>Participación: <span>75,15%</span></p>
                            <p><span>25.600</span> de <span>34.064</span>
                            </p>
                            
                        </div>
                    </li>
                    
                </ul>
            </div><br><br>
            <div>
                    <h4>
                        Votos</h4>
                </div>
                        <div></div>
                        <p>Afirmativos: 25.600</p>
                    </div>
                   <p>En blanco: 303</p>
                    </div>
                    <p>Votos nulos: 294</p>
                    </div>
                    <p>Votos recurridos, impugnados y
                            comando: 
                        </p>
                    </div>
                    
                </div>
            </div>
            <div
                class=""></canvas>
                        </div><br><br>
                        <div class="dv-grido" style="border-bottom: 2px solid rgb(0, 0, 0);">
                            <h4 class="title">Diferencia de votos</h4>
                        </div>
                        <div class=""></div>
                    </div>
                </div>
            </div>
            
                        <div class=""></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
</body>

</html>