<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../styles/generales.css" rel="stylesheet">
  <link rel="stylesheet" href="../styles/res-pres.css">
  <link rel="stylesheet" href="../styles/main.cssc">
  <style type="text/css">.oculto {display: none;}.visible {display: inline;}</style>
  <style data-styled="active" data-styled-version="5.3.11"></style>
  <script src="../scripts/index.js"></script>
  <script src="../scripts/resul-pres.js"></script>
  <title>generales</title>
</head>


<body onload=porcentajes()>
  
     <!--
  <div class="dv-main" onload="mostrar()">
    <div class="st-title" onclick="mostrar()">
      <span class="sp-plus">
        <img class="h-12-w-12 " src="../assets/logos/000134.png" alt="logo_agrupacion" width="95" height="95">
        
      </span>
      <div class="oculto" id="oculto">
          <img class="img-candi" src="../assets/logos/foto01003005.png" alt="foto-perfil"><br>
          <p class="prf-name">MASSA - ROSSI</p>
          <hr>
          <p class="sp-votos"><span>5.070.104</span> votos</p>
        </div>
      </div>
    </div>-->
    <br>
    <h3>Presidente - Vicepresidente</h3>
    <br>
      <div class="cont-parla">
<p> </p>
      <!--tercero-->
        <div class="accordion3">
          <div onload="mostrar()" class="section3">
            <input type="checkbox" id="section3" class="accordion__input">
            <div class="accordion__label">

              <img class="h-12-w-12xx" src="../assets/logos/000134.png" alt="logo_agrupacion">
              <label for="section3" class="accordion__label">UNION POR LA PATRIA</label>
            </div><br>
            <p class="sp-votos"><span class="tpd-3" id="p-porPd3"> </span> %</p>
            <div class="accordion__content" id="oculto">

              <img class="img-candi" src="../assets/logos/foto01003005.png" alt="foto-perfil">
              <br>
              <br><p class="prf-name">MASSA - ROSSI</p><hr>
              <p><b><span class="sp-votos" id="tpd-3"> </b></span>  votos</p>
            </div>
          </div>
      </div>
              
      <!--cuarto-->
      <div class="accordion4">
          <div onload="mostrar()" class="section4">
            <input type="checkbox" id="section4" class="accordion__input">
            <div class="accordion__label">
              <img class="h-12-w-12xx " src="../assets/logos/000135.png" alt="logo_agrupacion">
              <label for="section4" class="accordion__label">LA LIBERTAD AVANZA</label>
            </div><br>
            <p class="sp-votos"><span class="tpd-4" id="p-porPd4"> </span> %</p>

            <div class="accordion__content" id="oculto">
              <img class="img-candi" src="../assets/logos/foto01003016.png" alt="foto-perfil">
              <br><p class="prf-name">MILEI - VILLARRUEL</p><hr>
              <p><b><span class="sp-votos" id="tpd-4"> </b></span>  votos</p>
            </div>
          </div>
      </div>
      <p> </p>  

    </div>

  <script src="../scripts/resul-pres.js"></script>
</body>
</html>