<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../assets//logos/UxP-10.jpg" type="image/x-icon"><script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <!--link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"-->
    <link rel="stylesheet" href="/styles/head.css">
    <link rel="stylesheet" href="/styles/main.css">    
    <link rel="stylesheet" href="/styles/media.css">
    <link rel="stylesheet" href="/styles/resultados.css">
    <script src="../scripts/index.js"></script>
    <title>Resultados</title>
</head>

<body>
    <!--<span><input type="datetime-local"></span>
    <input type="time" name="hora" value="11:45:00" max="22:30:00" min="10:00:00" step="1">-->
    <span class="time">
        <div id="current_date">
            <script>
                //document.getElementById("current_date").innerHTML = Date();
                // create a new `Date` object
                var today = new Date();

                // get the date and time
                var now = '  ' + today.toLocaleString();
                document.getElementById("current_date").innerHTML = (now);
            </script>
        </div>
    </span>
<!--
    <nav class="navbar-topNav">
        <div class="cont-title">
            <div class="navbar-brand">
                <div>
                    <span>
                        <a href="../index.html"><img src="../assets/logos/up-10cur.png" alt="logo Frente Renovador" width="120"
                                height="120">
                    </span>
                </div>
            </div>
        <h1>Resultados</h1>
            <div class="navbar-end">
                <p>Cerrar sesión</p>
            </div>
    </nav>
-->
<nav class="topNav">
    <div class="cont-nav">
        <div class="navbar-brand">
            <div class="dv-link">
                <span><a href="../index.html"><img src="../assets/logos/up-10cur.png" alt="logo Frente Renovador" width="100"
                            height="120">
                <p><b></b></p></a></span>
            </div>
            <div>
                <h1>Resultados</h1>
            </div>
            <span class="navbarEnd">Cerrar sesión</span>
        </div>
    </div>
</nav>

    <nav class="navbar">
        <div class="cont-menu">
            <div class="men-prin">
                <div class="navbar-start">
                    <span class="navbar-item"><a href="escuelas.html" >Escuelas </a></span>
                    <span class="navbar-item"><a href="">Control de mesas</a></span>
                    <span class="navbar-item"><a href="" >Registro</a></span>
                    <span class="navbar-item"><a href="resultados.html">Resultados</a></span>
                </div>

            </div>
        </div>
    </nav>
<br>
    <!--button onclick="showTime()">Hora actual</button>
        <p id="resul"><b></b></p-->

    
    <div class="sct-body">
        <div class="columns">
            <div class="column-is-13">
                <div class="acordeon-invisible">
                    <div class="box-content">
                    
                                <div class="accordion__label">
                                    <a link href="../views/res-circ.html" target="ifr-escuela">Circuitos</a> 
                                </div>
                            
                                <div class="accordion__label">
                                    <a link href="president.html" target="ifr-escuela"> Presidente</a>
                                </div>
                    </div>
                            
                </div>
            </div>
        
        </div>
            
    </div>
            <div class="cont-ifr">
                <!--El iframe deberia estar hidden, solo ser visible al hacer clic en una Escuela y cargar la correspondiente-->
                <iframe class="ifr-escu" name="ifr-estadi" src="../views/fijoEstad.html" width="800" height="150"></iframe>
                <iframe class="ifr-escuela" name="ifr-escuela" src="../assets/img/FR-C-25p.png"></iframe>
            </div>
        </div>
    </div>
    
    <footer>
        <div class="cnt-foot">
            <div class="col-12 color10 text-center">
                <p style="text-align:center"><strong>Gisela Yiyi S&aacute;nchez | Todos los derechos
                        reservados</strong></p>
                <p style="text-align:center">3774-455436</p>
            </div>
        </div>
    </footer>

</body>

</html>