<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/if-mesas.css">
    <link rel="stylesheet" href="/styles/head.css">
    <title>Esc. Alberdi</title>
</head>
<body>
    <h2>Mesas habilitadas en Escuela N° 565 "ALBERDI"</h2>
    <br>
    <hr><!--style="display:none;"-->
    <!--<form method="POST" action="page2.php">
        <input type="hidden" name="total" value="valor" />
    </form>
 <input type="button" name="nMesa" value="1000">-->

    <div class="cont-botones" >
        <a href="/views/actas.html?nMesa=1228" target="_parent"><button>1228</button></a>
        <a href="/views/actas.html?nMesa=1229" target="_parent"><button>1229</button></a>
        <a href="/views/actas.html?nMesa=1230" target="_parent"><button>1230</button></a>
        <a href="/views/actas.html?nMesa=1231" target="_parent"><button>1231</button></a>
    </div>
</body>
</html>