<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/if-mesas.css">
    <link rel="stylesheet" href="/styles/head.css">
    <title>Esc. Baibiene</title>
</head>
<body>
    <h2>Mesas habilitadas en Escuela N° 585 "Baibiene" </h2>
    <br>
    <hr><!--style="display:none;"-->
    <div class="cont-botones" >
        <a href="/views/actas.html?nMesa=1235" target="_parent"><button>1235</button></a>
        <a href="/views/actas.html?nMesa=1236" target="_parent"><button>1236</button></a>
    </div>
</body>
</html>