<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/if-mesas.css">
    <link rel="stylesheet" href="/styles/head.css">
    <!--link rel="stylesheet" href="/styles/media.css"-->
    <script src="/scripts/index.js"></script>
    <title>Esc. Belgrano</title>
</head>
<body>
    <h2>Mesas habilitadas en Escuela N° 32 <br> "Manuel Belgrano" </h2>
    <br>
    <hr><!--style="display:none;"-->
    <div class="cont-botones" >
        <a class="btn-vst" href="/views/actas.html?nMesa=1136" target="_parent"><button class="btn-vst">1136</button></a> 
        <a href="/views/actas.html?nMesa=1137" target="_parent"><button>1137</button></a>
        <a href="/views/actas.html?nMesa=1138" target="_parent"><button>1138</button></a>
        <a href="/views/actas.html?nMesa=1139" target="_parent"><button>1139</button></a>
        <a href="/views/actas.html?nMesa=1140" target="_parent"><button>1140</button></a>
        <a href="/views/actas.html?nMesa=1141" target="_parent"><button>1141</button></a>
        <a href="/views/actas.html?nMesa=1142" target="_parent"><button>1142</button></a>
        <a href="/views/actas.html?nMesa=1143" target="_parent"><button>1143</button></a>
        <a href="/views/actas.html?nMesa=1144" target="_parent"><button>1144</button></a>
        <a href="/views/actas.html?nMesa=1145" target="_parent"><button>1145</button></a> 
        <a href="/views/actas.html?nMesa=1046" target="_parent"><button>1146</button></a>
    </div>
</body>
</html>