<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/if-mesas.css">
    <link rel="stylesheet" href="/styles/head.css">
    <title>Esc. Centenario</title>
</head>
<body>
    <h2>Mesas habilitadas en Escuela N° 435 <br> "PROV. DE TUCUMÁN" </h2>
    <br>
    <hr><!--style="display:none;"-->
    <div class="cont-botones" >
        <a href="/views/actas.html?nMesa=1209" target="_parent"><button>1209</button></a>
        <a href="/views/actas.html?nMesa=1210" target="_parent"><button>1210</button></a>
        <a href="/views/actas.html?nMesa=1211" target="_parent"><button>1211</button></a>
        <a href="/views/actas.html?nMesa=1212" target="_parent"><button>1212</button></a>
        <a href="/views/actas.html?nMesa=1213" target="_parent"><button>1213</button></a>
        <a href="/views/actas.html?nMesa=1214" target="_parent"><button>1214</button></a>
        <a href="/views/actas.html?nMesa=1215" target="_parent"><button>1215</button></a>
        <a href="/views/actas.html?nMesa=1216" target="_parent"><button>1216</button></a>
        <a href="/views/actas.html?nMesa=1217" target="_parent"><button>1217</button></a>

    </div>
</body>
</html>