<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/styles/if-mesas.css">
    <link rel="stylesheet" href="/styles/head.css">
    <script src="/scripts/index.js"></script>
    <title>Esc. Malvinas</title>
</head>

<body>
    <h2>Mesas habilitadas en Escuela N° 471 <br> "16 de noviembre" </h2>
    <br>
    <hr><!--style="display:none;"
    <a href="actas.html?nMesa=1011" target="_parent"><button id="btn1" value="1099" onclick="cargarMesa()">1</button></a> -->
    <div class="cont-botones">
        <a href="/views/actas.html?nMesa=1199" target="_parent"><button>1199</button></a> 
        <a href="/views/actas.html?nMesa=1200" target="_parent"><button>1200</button></a>
        <a href="/views/actas.html?nMesa=1201" target="_parent"><button>1201</button></a>
        <a href="/views/actas.html?nMesa=1202" target="_parent"><button>1202</button></a>
        <a href="/views/actas.html?nMesa=1203" target="_parent"><button>1203</button></a>
        <a href="/views/actas.html?nMesa=1204" target="_parent"><button>1204</button></a>
        <a href="/views/actas.html?nMesa=1205" target="_parent"><button>1205</button></a>
        <a href="/views/actas.html?nMesa=1206" target="_parent"><button>1206</button></a>
        <a href="/views/actas.html?nMesa=1207" target="_parent"><button>1207</button></a>        
        <a href="/views/actas.html?nMesa=1208" target="_parent"><button>1208</button></a>        
    </div>   
</body>

</html>