<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/if-mesas.css">
    <link rel="stylesheet" href="/styles/head.css">
    <script src="/scripts/index.js"></script>
    <title>Col. Nacional</title>
</head>
<body>
    <h2>Mesas habilitadas en el Colegio Nacional </h2>
    <br>
    <hr><!--style="display:none;"-->
    <div class="cont-botones" >
        <a href="/views/actas.html?nMesa=1147" target="_parent" ><button>1147</button></a> 
        <a href="/views/actas.html?nMesa=1148" target="_parent" ><button>1148</button></a> 
        <a href="/views/actas.html?nMesa=1149" target="_parent" ><button>1149</button></a> 
        <a href="/views/actas.html?nMesa=1150" target="_parent" ><button>1150</button></a>
        <a href="/views/actas.html?nMesa=1151" target="_parent" ><button>1151</button></a>
        <a href="/views/actas.html?nMesa=1152" target="_parent" ><button>1152</button></a>
        <a href="/views/actas.html?nMesa=1153" target="_parent" ><button>1153</button></a>
        <a href="/views/actas.html?nMesa=1154" target="_parent" ><button>1154</button></a>
        <a href="/views/actas.html?nMesa=1155" target="_parent" ><button>1155</button></a>
        <a href="/views/actas.html?nMesa=1156" target="_parent" ><button>1156</button></a>
        <a href="/views/actas.html?nMesa=1157" target="_parent" ><button>1157</button></a>
    </div>
</body>
</html>