<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/if-mesas.css">
    <link rel="stylesheet" href="/styles/head.css">
    <title>Esc. Paraiso</title>
</head>
<body>
    <h2>Mesas habilitadas en Escuela N° 575 "Paraiso" </h2>
    <br>
    <hr><!--style="display:none;"-->
    <div class="cont-botones" >
        <a href="/views/actas.html?nMesa=1234" target="_parent"><button>1234</button></a>
        
    </div>
</body>
</html>