<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/if-mesas.css">
    <link rel="stylesheet" href="/styles/head.css">
    <title>Esc. Perugorria</title>
</head>
<body>
    <h2>Mesas habilitadas en Escuela N° 38 "JOSÉ MARÍA PAZ"</h2>
    <P>Perugorria</P>
    <br>
    <hr><!--style="display:none;"-->
    <div class="cont-botones" >
        <a href="/views/actas.html?nMesa=1237" target="_parent"><button>1237</button></a>
        <a href="/views/actas.html?nMesa=1238" target="_parent"><button>1238</button></a>
        <a href="/views/actas.html?nMesa=1239" target="_parent"><button>1239</button></a>
        <a href="/views/actas.html?nMesa=1240" target="_parent"><button>1240</button></a>
        <a href="/views/actas.html?nMesa=1241" target="_parent"><button>1241</button></a>
        <a href="/views/actas.html?nMesa=1242" target="_parent"><button>1242</button></a>
        <a href="/views/actas.html?nMesa=1243" target="_parent"><button>1243</button></a>
        <a href="/views/actas.html?nMesa=1244" target="_parent"><button>1244</button></a>
        <a href="/views/actas.html?nMesa=1245" target="_parent"><button>1245</button></a><a href="/views/actas.php?nMesa=1240" target="_parent"><button>1240</button></a>
        <a href="/views/actas.html?nMesa=1246" target="_parent"><button>1246</button></a>
        
</html>