<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/if-mesas.css">
    <link rel="stylesheet" href="/styles/head.css">
    <title>Esc. Perugorria</title>
</head>
<body>
    <h2>Mesas habilitadas en Escuela N° 410 "PCIA. DE SANTA CRUZ" </h2>
    <P>Perugorria</P>
    <br>
    <hr><!--style="display:none;"-->
    <div class="cont-botones" >
        <a href="/views/actas.html?nMesa=1247" target="_parent"><button>1247</button></a>
        <a href="/views/actas.html?nMesa=1248" target="_parent"><button>1248</button></a>
        <a href="/views/actas.html?nMesa=1249" target="_parent"><button>1249</button></a>
        <a href="/views/actas.html?nMesa=1250" target="_parent"><button>1250</button></a>
        <a href="/views/actas.html?nMesa=1251" target="_parent"><button>1251</button></a>
        <a href="/views/actas.html?nMesa=1252" target="_parent"><button>1252</button></a>
    </div>
</body>
</html>