<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/if-mesas.css">
    <link rel="stylesheet" href="/styles/head.css">
        <title>Esc. Rosende</title>
</head>
<body>
    <h2>Mesas habilitadas en Escuela N° 321 "ROSENDE" </h2>
    <br>
    <hr><!--style="display:none;"-->
    <div class="cont-botones" >
        <a href="/views/actas.html?nMesa=1189" target="_parent"><button>1189</button></a>
        <a href="/views/actas.html?nMesa=1190" target="_parent"><button>1190</button></a>
        <a href="/views/actas.html?nMesa=1191" target="_parent"><button>1191</button></a>
        <a href="/views/actas.html?nMesa=1192" target="_parent"><button>1192</button></a>
        <a href="/views/actas.html?nMesa=1193" target="_parent"><button>1193</button></a>
        <a href="/views/actas.html?nMesa=1194" target="_parent"><button>1194</button></a>
        <a href="/views/actas.html?nMesa=1195" target="_parent"><button>1195</button></a>
        <a href="/views/actas.html?nMesa=1196" target="_parent"><button>1196</button></a>
        <a href="/views/actas.html?nMesa=1197" target="_parent"><button>1197</button></a>
        <a href="/views/actas.html?nMesa=1198" target="_parent"><button>1198</button></a>
    </div>
</body>
</html>