<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/if-mesas.css">
    <link rel="stylesheet" href="/styles/head.css">
    <title>Esc. San Martín</title>
</head>
<body>
    <h2>Mesas habilitadas en el Colegio N° <br> "SAN MARTÍN" </h2>
    <br>
    <hr><!--style="display:none;"-->
    <div class="cont-botones" >
        <a href="/views/actas.html?nMesa=1218" target="_parent"><button>1218</button></a>
        <a href="/views/actas.html?nMesa=1219" target="_parent"><button>1219</button></a>
        <a href="/views/actas.html?nMesa=1220" target="_parent"><button>1220</button></a>
        <a href="/views/actas.html?nMesa=1221" target="_parent"><button>1221</button></a>
        <a href="/views/actas.html?nMesa=1222" target="_parent"><button>1222</button></a>
        <a href="/views/actas.html?nMesa=1223" target="_parent"><button>1223</button></a>
        <a href="/views/actas.html?nMesa=1224" target="_parent"><button>1224</button></a>
        <a href="/views/actas.html?nMesa=1225" target="_parent"><button>1225</button></a>
        <a href="/views/actas.html?nMesa=1226" target="_parent"><button>1226</button></a>
        <a href="/views/actas.html?nMesa=1227" target="_parent"><button>1227</button></a>
    </div>
</body>
</html>