<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/if-mesas.css">
    <link rel="stylesheet" href="/styles/head.css">
    <title>Esc. Sarmiento</title>
</head>
<body>
    <h2>Mesas habilitadas en Escuela N° 564 "SARMIENTO" </h2>
    <br>
    <hr><!--style="display:none;"-->
    <div class="cont-botones" >
        <a href="/views/actas.html?nMesa=1158" target="_parent"><button>1158</button></a>
        <a href="/views/actas.html?nMesa=1159" target="_parent"><button>1159</button></a>
        <a href="/views/actas.html?nMesa=1160" target="_parent"><button>1160</button></a>
        <a href="/views/actas.html?nMesa=1161" target="_parent"><button>1161</button></a>
        <a href="/views/actas.html?nMesa=1162" target="_parent"><button>1162</button></a>
        <a href="/views/actas.html?nMesa=1163" target="_parent"><button>1163</button></a>
        <a href="/views/actas.html?nMesa=1164" target="_parent"><button>1164</button></a>
        <a href="/views/actas.html?nMesa=1165" target="_parent"><button>1165</button></a>
        <a href="/views/actas.html?nMesa=1166" target="_parent"><button>1166</button></a>
        <a href="/views/actas.html?nMesa=1167" target="_parent"><button>1167</button></a>
        <a href="/views/actas.html?nMesa=1168" target="_parent"><button>1168</button></a>
    </div>
</body>
</html>