<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/if-mesas.css">
    <link rel="stylesheet" href="/styles/head.css">
    <title>Esc. Sorribes</title>
</head>
<body>
    <h2>Mesas habilitadas en Escuela N° "SORRIBES" </h2>
    <br>
    <hr><!--style="display:none;"-->
    <div class="cont-botones" >
        <a href="/views/actas.html?nMesa=1179" target="_parent"><button>1179</button></a>
        <a href="/views/actas.html?nMesa=1180" target="_parent"><button>1180</button></a>
        <a href="/views/actas.html?nMesa=1181" target="_parent"><button>1181</button></a>
        <a href="/views/actas.html?nMesa=1182" target="_parent"><button>1182</button></a>
        <a href="/views/actas.html?nMesa=1183" target="_parent"><button>1183</button></a>
        <a href="/views/actas.html?nMesa=1184" target="_parent"><button>1184</button></a>
        <a href="/views/actas.html?nMesa=1185" target="_parent"><button>1185</button></a>
        <a href="/views/actas.html?nMesa=1186" target="_parent"><button>1186</button></a>
        <a href="/views/actas.html?nMesa=1187" target="_parent"><button>1187</button></a>
        <a href="/views/actas.html?nMesa=1188" target="_parent"><button>1188</button></a>
    </div>
</body>
</html>