<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/styles/if-mesas.css">
    <link rel="stylesheet" href="/styles/head.css">
    <script src="/scripts/index.js"></script>
    <title>Esc. Técnica</title>
</head>

<body>
    <h2>Mesas habilitadas en Escuela Técnica N° 1 "Araujo" </h2>
    <br>
    <hr><!--style="display:none;"
    <a href="actas.html?nMesa=1011" target="_parent"><button id="btn1" value="1099" onclick="cargarMesa()">1</button></a> -->
    <div class="cont-botones">
        <a href="/views/actas.html?nMesa=1169" target="_parent" ><button>1169</button></a> 
        <a href="/views/actas.html?nMesa=1170" target="_parent" onclick="verificar()"><button>1170</button></a>
        <a href="/views/actas.html?nMesa=1171" target="_parent"><button>1171</button></a>
        <a href="/views/actas.html?nMesa=1172" target="_parent"><button>1172</button></a>
        <a href="/views/actas.html?nMesa=1173" target="_parent"><button>1173</button></a>
        <a href="/views/actas.html?nMesa=1174" target="_parent"><button>1174</button></a>
        <a href="/views/actas.html?nMesa=1175" target="_parent"><button>1175</button></a>
        <a href="/views/actas.html?nMesa=1176" target="_parent"><button>1176</button></a>
        <a href="/views/actas.html?nMesa=1177" target="_parent"><button>1177</button></a>
        <a href="/views/actas.html?nMesa=1178" target="_parent"><button>1178</button></a>        
    </div>   
</body>

</html>