
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/generales.css">
    <link rel="stylesheet" href="/styles/res-part.css">
    <style data-styled="active" data-styled-version="5.3.11"></style>
    <script src="/scripts/readJson.js"></script>
    <title>generales</title>
</head>

<body>
    <h3> Resultados por circuito</h3>
    <div>
    


<button onclick="cargar()">-OK-</button>
<table id="circu"> </table>
<table id="resul"> 
    <thead>
        <tr>
          <th>Mesa</th>
          <th>Pres</th>
          <th>Parl N</th>
          <th>Dip</th>
          <th>Parl R</th>
        </tr>
      </thead>
      <tbody id="resu">
      </tbody>
</table>
    </div>
    <main>
        <br><!-- sin tabla -->
        <div class="cont-parla">
            <div class="cont-todos">
                <p class="pf-part">Partidos</p>
                <p>  |  </p>
                <p class="pf-encab">Presidente - Vicepresidente</p>
                <p class="pf-encab">Parl. Merc. Nacionales</p>
                <p class="pf-encab">Diputados Nacionales</p>
                <p class="pf-encab">Parl. Merc. Regionales</p>
            </div>
        </div>
            <div class="cont-task3">
                    <img class="log-part" src="/assets/logos/000132.png" alt="logo_agrupacion">

                    <p class="sp-votos"><b><span id="tpd-1"></b></span></p>
                    <p class="sp-votos"><span class="tpn-1" id="tpn-1"></span></p>
                    <p class="sp-votos"><span class="tpd-1" id="tdp-1"></span></p>
                    <p class="sp-votos"><span class="tpr-1" id="tpr-1"></span></p>
            </div>
                <hr>
            <div class="cont-task1">
                <img class="log-part" src="/assets/logos/000133.png" alt="logo_agrupacion">
                <p><b> <span class="sp-votos" id="tpd-2"></b></span></p>
                <p class="sp-votos"><span class="tpn-1" id="tpn-2"></span></p>
                <div class="sp-gris"><p> <span ></span></p></div>
                <div class="sp-gris"><p> <span ></span></p></div>
            </div>
            <hr>
            <div class="cont-task2">
                <img class="log-part" src="/assets/logos/000134.png" alt="logo_agrupacion">

                <p class="sp-votos"><b> <span id="tpd-3"></b></span></p>
                <p class="sp-votos"><span class="tpn-1" id="tpn-3"></span></p>
                <p class="sp-votos"><span class="tpd-1" id="tdp-3"></span></p>
                <p class="sp-votos"><span class="tpr-1" id="tpr-3"></span></p>
            </div>
            <hr>
            <div class="cont-task4">
                <img class="log-part" src="/assets/logos/000135.png" alt="logo_agrupacion">
                <p><b> <span class="sp-votos" id="tpd-4"></b></span></p>
                <p class="sp-votos"><span class="tpn-1" id="tpn-4"></span></p>
                <p class="sp-votos"><span class="tpd-1" id="tdp-4"></span></p>
                <p class="sp-votos"><span class="tpr-1" id="tpr-4"></span></p>
            </div>
            <hr>
            <div class="cont-task5">
                <img class="log-part" src="/assets/logos/000136.png" alt="logo_agrupacion">
                <p class="sp-votos"><b> <span id="tpd-5"></b></span></p>
                <p class="sp-votos"><span class="tpn-5" id="tpn-5"></span></p>
                <div class="sp-gris"><p> <span></span></p></div>
                <div class="sp-gris"><p> <span></span></p></div>
            </div>
        
        
    </main>
</body>

</html>