.columns {/*contiene al acta*/
    margin: 5px;
    display: flex;
    align-items: flex-end;
}

.cont-encab {
    padding: 20px 15px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;    
    background-color: white;
}

.mesa {
    font-size: 35px;
}

.lbl-mesa {
    font-size: 50px;

    color: darkblue;
    font-weight: bold;

}

.numMesa,
.nMesa {
    background-color: darkgray;
}
.columnActa{
    width: 100%;
}

button {
    padding: 10px;
    width: 95px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    width: 120px;
}

.cont-regresar {
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.escudo {
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-encab {
    height:auto;
    width: auto;   
    display: flex;    
    justify-content: center;    
    background-color: white;
}
.frmActa {
    height:auto;
    width: auto;       
    background-color: white;
}
.cont-tabla{
    background-color: white;
}
table{
    background-color: white;
    align-self: center;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    height:auto;
    /*width: 550px;   */
}
tr td {
    border-color: white;
}
.vot-cel{
    text-align: right;
}
input {
    text-align: center;
    width: 70px;
}
button{
    cursor: pointer;
}
.btn-regresar {
    height: 50px;    
    font-weight: bold;
}

.cont-btn {
    text-align: center;    
    background-color: white;
}
.btn-enviar{
    font-weight: bold;
    font-size: large;
    color: white;
    background-color:green;
}
.btn-borrar{
background-color:tomato;
}
